table {
	width: 100%;
}

td.edit {
	width: 50px;
}

td {
	vertical-align: top;
	border-top: 1px solid black;
}

p, th, button {
	font-family: arial;
	font-size: 12px;
}

p[contenteditable] {
	height: 100%;
	margin: 0;
	border-bottom: 1px dotted gray;
}

#header {
	position: fixed;
	top: 0px;
	right: 0px;
	width: 100%;
	height: 50px;
	background: #eee8d5;
	border-bottom: 2px solid black;
}

#buttons {
	position: absolute;
	left: 0px;
	top: 0px;
	margin-top: 10px;
	margin-left: 10px;
}

#content {
	z-index: -1;
	background: #fdf6e3;
	margin-top: 50px;
	padding-top: 1px;
	width: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
}

